$maxWidth: 1400;
@mixin adapt-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
    @media screen and (max-width: 767px) {}
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    @media screen and (min-width: 767px) {}
}

@mixin cursor-white() {
    cursor: url('../img/cursor-white.png'), auto;
}

@mixin cursor-black() {
    cursor: url('../img/cursor-black.png'), auto;
}